  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
  }
  .item{
    font-size: 20px;
    margin-left:30px;
    margin-top:18px;
  
    color: blue;
    font-weight: bold;
  }
  .elem{
    margin:20px;
    background-color: rgb(248,247,245);
  }
  .img{
    border-radius: 0%;
  }

  .foot{
   font-family: initial;
    font-size: 17px;
  }
  footer{
    color: rgb(33, 17, 83);
    left:0;
    right:0;
    bottom:0;
    height: 15rem;
    font-style: unset;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(143, 154, 216);
    padding: 40px;
  }
  #color{
    background-color: rgb(176, 191, 223);
  }
  
  #row{
    padding: 1rem;
    background-color: rgb(157, 188, 216);
    font-family: initial;
  }
 
  h6 {
    text-align: center;
    padding:  3px ;
    background-image: linear-gradient(120deg,#e4e1ec 0%, #051072  100%);
    color: white;
  }
  
  img {
    display: block;
    max-width: 1000 px;
    border-radius: 15px 15px 0px 0px;
    margin-bottom: 3px; 
 
  }

  p {
    padding: 10px;
    margin: 15px;
    font-size: 14px;
  }
  
  legend {
    font-size: 12px;
  }
  
  header {
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: all .2s linear;
  
  
  }
  
  .card:hover {
    box-shadow: 2px 8px 45px rgba(13, 4, 34, 0.9);
    transform: translate3D(0, -2px, 0);
  }

  
  @media screen and (min-width: 600px) {
    .header {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    header {
      flex: 1 1 calc(33% - 2rem);
    }
  }
  
  header:nth-child(2n) h6 {
    background-image: linear-gradient(120deg, #e4e1ec 0%, #051072 100%);
  }
  
  header:nth-child(4n) h6 {
    background-image: linear-gradient(120deg, #e4e1ec 0%, #051072 100%);
  }
  
  header:nth-child(5n) h6 {
    background-image: linear-gradient(120deg, #e4e1ec 0%, #051072 100%);
  }
  body{
    background-image: linear-gradient(120deg,#e4e1ec 0%, #8e96d8  90%);
    
  }