  
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    color: #666;
  }
  
  body{
	background-image: linear-gradient(120deg, #e4e1ec 0%, #051072 100%);
  }
  footer{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    height: 3rem;
    background-color: aliceblue;
    padding: 10px;
  }
  #check{
    
    width:20%;
    height: auto;
    transition-property: width; 
    transition-duration: 1s;
  }


  #check:hover{
    width:100%;
  }
  
  header{
    background-image: url("image.jpg");
  }
 

  h6 {
    text-align: center;
    padding: 1.5rem 2.5rem;
    background-image: linear-gradient(120deg,#e4e1ec 0%, #051072  100%);
    color: white;
  }
  
  img {
    display: block;
    max-width: 1000 px;
    margin-bottom: 3px; 
 
  }

  p {
    padding: 10px;
    margin: 15px;
    font-size: 14px;
  }
  
  legend {
    font-size: 12px;
  }
  
  .card {
    background: white;
    box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: all .2s linear;
  
  
  }
  
  .card:hover {
    box-shadow: 2px 8px 45px rgba(13, 4, 34, 0.9);
    transform: translate3D(0, -2px, 0);
  }

  .img:hover {
   
    transform: translate3D(0, -2px, 0);
  }
  
  @media screen and (min-width: 600px) {
    .card {
      flex: 1 1 calc(50% - 2rem);
    }
  }
  
  @media screen and (min-width: 900px) {
    .card {
      flex: 1 1 calc(33% - 2rem);
    }
  }
  
  .card:nth-child(2n) h6 {
    background-image: linear-gradient(120deg, #e4e1ec 0%, #051072 100%);
  }
  
  .card:nth-child(4n) h6 {
    background-image: linear-gradient(120deg, #e4e1ec 0%, #051072 100%);
  }
  
  .card:nth-child(5n) h6 {
    background-image: linear-gradient(120deg, #e4e1ec 0%, #051072 100%);
  }